.chatBox {
	min-height: calc(95vh - 200px);
}

ul {
	list-style: none;
	padding: 0;
}
ul li {
	font-size: 1.2rem;
	font-style: italic;
	color: #198754;
	margin-bottom: 2px;
}
/* form {
	position: relative;
	bottom: 0;

} */