* {
  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  color: #46529d;
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-center {
  
}

.container {
  width: 60%;
  margin: 10% auto;
}

.ListItem {
  
  color: #46529d;
}

.ListItem p {
  
  
  padding: 10px 0;
  font-size: 1.2rem;
}

.ListItem span {
  
  
  padding: 10px 0;
  font-size: 1.2rem;
  border: .3px solid #CCC;
}

.ListItem span.title {
  color: #2ebaee;
}

.ListItem span.name, form input[type=text] {
  width: 60%;
}

.ListItem span.age, form input[type=number] {
  width: 25%;
}

.ListItem span.action, form input[type=submit] {
  width: 15%;
}

.ListItem span.icon {
  color: #2ebaee;
  cursor: pointer;
}

form input {
  padding: 10px 0 10px 5px;
  color: #ebebeb;
  border: .3px solid #ccc;
  font-size: 1rem;
}

form input[type=submit] {
  color: #2ebaee;
  cursor: pointer;
}

@media (max-width: 600px) {
  html {
    font-size: 80%;
  }
  .container {
    ;
    
    margin-top: 10%;
  }
  .ListItem span.name, form input[type=text] {
    width: 50%;
  }
  .ListItem span.age, form input[type=number] {
    width: 30%;
  }
  .ListItem span.action, form input[type=submit] {
    width: 20%;
  }
}